:root {
  --radius: 0.5rem;
  --background: #fff;
  --foreground: #000;
  --muted: #cbe9d8;
  --muted-foreground: #1f7751;
  --card: #f9f5f2;
  --card-foreground: #000;
  --popover: #fff;
  --popover-foreground: #000;
  --border: #000;
  --input: #fff;
  --primary: #00401b;
  --primary-hover: #002911;
  --primary-foreground: #fff;
  --secondary: #00B84D;
  --secondary-foreground: #000;
  --accent: #00c151;
  --accent-foreground: #000;
  --destructive: #f05d5d;
  --destructive-foreground: #fff;
  --ring: #000;
}

.dark {
  --background: #080a09;
  --foreground: #f5f5f5;
  --muted: #1f3a2d;
  --muted-foreground: #9cd9b8;
  --card: #181c19;
  --card-foreground: #fff;
  --popover: #181c19;
  --popover-foreground: #fff;
  --border: #1e2722;
  --input: #2F3B34;
  --primary: #00401b;
  --primary-hover: #002911;
  --primary-foreground: #fff;
  --secondary: #00B84D;
  --secondary-foreground: #fff;
  --accent: #00A344;
  --accent-foreground: #000;
  --destructive: #f05d5d;
  --destructive-foreground: #fff;
  --ring: #00B84D;
}
